.simple-preloader#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-body);
  z-index: 99;
  transition: opacity 0.4s ease-in-out;

  &::before {
    position: fixed;
    content: '';
    top: 50%;
    left: 50%;
    height: 64px;
    width: 64px;
    transform: translate(-50%, -50%);
    border: 16px solid var(--color-secondary--active);
    border-top-color: var(--color-primary);
    border-radius: 50%;
    -webkit-animation: spin-animation 1s infinite linear;
          animation: spin-animation 1s infinite linear;
  }

  &.hide {
    opacity: 0;
  }
}

@-webkit-keyframes spin-animation {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(359deg);
            transform: translate(-50%, -50%) rotate(359deg);
  }
}
@keyframes spin-animation {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(359deg);
            transform: translate(-50%, -50%) rotate(359deg);
    -webkit-transform: translate(-50%, -50%) rotate(359deg);
            transform: translate(-50%, -50%) rotate(359deg);
  }
}
