.btn__holder {
	width: 100%;
	max-width: 970px;
	padding: 38px;
	background-color: var(--color-white);
	border-radius: 32px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
  transition:
              opacity 0.4s ease-in-out,
              transform 0.4s ease-in-out;

	&--instruction {
		justify-content: center;
	}
}

.btn[disabled] {
	background-color: var(--color-secondary);
	pointer-events: none;
}

.btn--next,
.btn--start,
.btn--results {
	background-color: var(--color-primary);
	color: var(--color-white);
	text-decoration: none;
	text-align: center;
	padding-right: 0;
	padding-left: 0;

	&:hover {
		background-color: var(--color-primary--hover);
	}

	&:active {
		background-color: var(--color-primary--active);
	}

	&[disabled] {
		background-color: var(--color-primary--disable);
	}
}

.btn--next span {
  border: 1px solid var(--color-white);
  border-radius: 8px;
  margin-left: 10px;
  font-size: 12px;
  line-height: 18px;
  padding: 4px 12px;

  @media screen and (max-width: 520px) {
    display: none;
  }
}

.btn--hidden {
	display: none;
}

.progress-bar {
	position: relative;
	width: calc(100% - (214px + 83px) * 2);
	max-width: 300px;

	&__wrapper {
		overflow: hidden;
		border-radius: 50px;
		background-color: var(--color-secondary);
		height: 10px;
	}

	&__el {
		position: relative;
		height: 100%;
		width: 0;
		border-radius: 50px;
		transition: width 0.4s ease-in-out;

		&--ready {
			background-color: var(--color-primary--disable);
		}

		&--current {
			position: absolute;
			background-color: var(--color-primary);
			top: 0;
			left: 0;
			z-index: 1;
		}
	}

	&__info {
		position: absolute;
		background-color: var(--color-secondary);
		padding: 4px 10px;
		border-radius: 50px;
		font-size: 12px;
		line-height: 150%;
		font-weight: 600;
		// width: fit-content;
		width: max-content;
		transform: translateX(-50%);
		top: 20px;
		transition: left 0.4s ease-in-out;

		&::before {
			position: absolute;
			content: '';
			width: 18px;
			height: 6px;
			background-image: url('/assets/images/progress-arrow.svg');
			bottom: 100%;
			left: 50%;
			transform: translateX(-50%);
		}

		span {
			display: inline-block;
			box-sizing: border-box;
		}

		&-current {
			margin-right: 4px;
		}

		&-total {
			margin-left: 4px;
		}
	}
}

@media screen and (max-width: 520px) {
	.btn__holder {
		padding: 16px;
		box-shadow: 0px -3px 16px rgba(0, 0, 0, 0.07);
		border-radius: 24px 24px 0px 0px;
		width: 100vw;
	}

	.progress-bar {
		width: auto;

		&__wrapper {
			display: none;
		}

		&__el {
			position: relative;
			height: 100%;
			width: 0;
			border-radius: 50px;
			transition: width 0.4s ease-in-out;

			&--current {
				position: absolute;
				background-color: var(--color-primary);
				top: 0;
				left: 0;
				z-index: 1;
			}
		}

		&__info {
			position: static;
			background-color: var(--color-white);
			padding: 0;
			transform: none;
			border-radius: 0;

			&::before {
				display: none;
			}
		}
	}

	.btn {
		padding-left: 16px;
		padding-right: 16px;
	}

	.btn--prev {
		position: relative;
		min-width: auto;
		width: 48px;
		height: 44px;

		&::before {
			position: absolute;
			content: '';
			top: 50%;
			left: 50%;
			transform: translate(calc(-50% + 2px), -50%) rotate(-45deg);
			width: 7px;
			height: 7px;
			border: 2px solid var(--color-black);
			border-right: none;
			border-bottom: none;
			border-radius: 2px;
		}

		.btn__text {
			display: none;
		}
	}
}










.test-kek {
	width: 100%;
	max-width: 567px;
	margin: 0 auto 60px;


	&__bar {
		position: relative;
		margin-bottom: 24px;
		background-color: #F4F4F4;
		height: 80px;
		width: 100%;

		&-result {
			position: absolute;
			height: 100%;
			background-color: #D9D9D9;
			top: 0;
			left: 0;
		}
	}
}
