<div class="btn__holder" *ngIf="isQuizStarted; else showInstruction">
	<button class="btn btn--prev" (click)="changeQuestion(false)" [disabled]="service.disabled.prev">
		<span class="btn__text">Назад</span>
	</button>
	<div class="progress-bar">
		<div class="progress-bar__wrapper">
			<div class="progress-bar__el progress-bar__el--current" [attr.style]="service.progressInfo.currentQuestionWidth" ></div>
			<div class="progress-bar__el progress-bar__el--ready" [attr.style]="service.progressInfo.answeredQuestionWidth"></div>
		</div>
		<div class="progress-bar__info" [attr.style]="service.progressInfo.currentQuestionLeft">
			<span class="progress-bar__info-current">{{ service.progressInfo.currentQuestion }}</span>
			<span>из</span>
			<span id="questions-total" class="progress-bar__info-total">{{service.progressInfo.questionsCount}}</span>
		</div>
	</div>
	<button id="btn--next" class="btn btn--next" (click)="changeQuestion(true)" [disabled]="service.disabled.next">Дальше</button>
	<button class="btn btn--results btn--hidden" routerLink="/results" (click)="showResults()" [disabled]="service.disabled.next">Узнать результаты</button>
	<a style="position: absolute; top: 0;" routerLink="/results" (click)="randomInfo()">Random info</a>
</div>

<!-- Нужен для события, когда сверху прилетает false -->
<ng-template #showInstruction>
	<div class="btn__holder btn__holder--instruction">
		<a class="btn btn--start" routerLink="/questions">Начать тест</a>
	</div>
</ng-template>
