@import '../card/card.component.scss';

.card {
	padding: 38px 8px 50px 62px;

	&__title {
		// Выравниваем
		padding-right: 0;
	}
}

@media screen and (max-width: 520px) {
	.card {
		padding: 0;

		&__title {
			padding-right: 0;
		}
	}
}