<!-- <div class="wrapper">
	<div class="card">
		<div class="card__title">
			<div class="title">Как проходить тест?</div>
			<div class="sub-title">Ознакомься с&nbsp;5-ю уровнями. Нужно выбрать свой для каждого скилла</div>
		</div>
		<div class="card__content">
			<ul>
				<li><strong>Непонимание</strong>&nbsp;&mdash; абсолютно незнакомая область</li>
				<li><strong>Осведомлённость</strong>&nbsp;&mdash; понимание того, как работает специалист в&nbsp;этой области. Какие задачи выполняет, каков рабочий процесс и&nbsp;инструментарий, методы и&nbsp;практики, какие особенности и&nbsp;ограничения накладываются на&nbsp;него.</li>
				<li><strong>Умение</strong>&nbsp;&mdash; способность решать базовые задачи в&nbsp;области. Доделать не&nbsp;очень важный кусок работ за&nbsp;ведущим специалистом, собрать макет или прототип на&nbsp;основе чужих наработок, внести осмысленные доработки в&nbsp;существующий документ и&nbsp;т.п.</li>
				<li><strong>Экспертиза</strong>&nbsp;&mdash; выполнение большинства задач в&nbsp;области знаний. От&nbsp;начала до&nbsp;конца&nbsp;и, зачастую, самостоятельно. Способность разобраться в&nbsp;нетипичной ситуации.</li>
				<li><strong>Лидерство</strong>&nbsp;&mdash; способность передать экспертизу другим участникам команды. Помощь в&nbsp;обучении и&nbsp;профессиональном росте коллег, развитии инструментария</li>
			</ul>
		</div>
	</div>
</div> -->

<!-- <div class="card">
	<div class="card__title">
		<div class="sub-title">
			<div class="logo">
        <a href="#" target="_blank" rel="Landing">
          <img src="/assets/images/logo--alone.svg" alt="logo">
        </a>
      </div>
		</div>
		<div class="title">Узнай свой уровень, сильные и&nbsp;слабые стороны в&nbsp;дизайне</div>
	</div>
</div> -->

<app-card-panel class="app-card-panel"></app-card-panel>
