// Так как скролл не библиотечный и обладает минимальной гибкостью, приходится двигать его влияя на обёртку
.questions-block {
	background-color: var(--color-white);
	border-radius: 32px;
	padding-right: 8px;
}

.card {
	position: relative;
	// -панель с кнопкой и отступом -внутренние отступы layout'а
	max-height: calc(100vh - (144px + 40px) - 24px * 2 + 16px);
	// margin-top: -28px;

	overflow-y: scroll;

	// Ширина всей полосы прокрутки
	&::-webkit-scrollbar {
		width: 10px; /*  */
	}

	// Зона отслеживания
	&::-webkit-scrollbar-track {
		background: transparent;
		margin: 20px;
	}

	// Бегунок
	&::-webkit-scrollbar-thumb {
		background-color: var(--color-white-smoke);
		border-radius: 20px;
	}

	&--hidden {
		display: none;
	}

	&__content {}
}

ul {
	counter-reset: number -1;
	padding-left: 28px;
	padding-right: 30px;

	li {
		position: relative;
		list-style: none;
		padding: 24px 0;
		line-height: 150%;
		font-weight: 300;

		&::before {
			position: absolute;
			counter-increment: number;
			content: counter(number);
			right: calc(100% + 16px);
			font-weight: 700;
		}

		&:first-child {
			padding-top: 0;
		}

		&:not(:last-child) {
			&::after {
				position: absolute;
				content: "";
				top: 100%;
				left: 0;
				height: 1px;
				width: 100%;
				background-color: var(--color-whisper);
			}
		}

		strong {
			font-weight: 600;
		}
	}
}

.answer {
	width: 100%;
	display: inline-block;
	margin-bottom: 16px;
	-webkit-tap-highlight-color: transparent;

	&:last-child {
		margin-bottom: 0;
	}
}

.answer__el {
	position: relative;
	border: 2px solid var(--color-whisper);
	border-radius: 16px;
	display: inline-block;
	width: 100%;
	cursor: pointer;
	font-size: 1em;
	line-height: 120%;
	box-sizing: border-box;
	padding: 16px 24px 16px 24px;

	&:hover {
		border-color: var(--color-very-light-grey);
	}

	strong {
		font-weight: 600;
		margin-right: 16px;
	}
}


input[type="radio"] {
	display: none;
}
input[type="radio"]:checked + .answer__el {
	border-color: var(--color-primary);
	color: var(--color-primary);
}

@media screen and (max-width: 520px) {
	.card {
		margin-top: 0;
		overflow: visible;
		max-height: none;
	}

	ul {
		padding-left: 30px;
		padding-right: 24px;

		li {
			padding: 18px 0;
			font-weight: 400;

			&::before {
				right: calc(100% + 12px);
			}

			&:first-child {
				padding-top: 16px;
			}

			&:not(:last-child) {
				&::after {
					width: calc(100% + 14px);
				}
			}
		}
	}
}
