<!-- <p>card works!</p> -->

<div class="card">
	<h1>Как проходить тест?</h1>
	<h2>Ознакомься с 5-ю уровнями. Нужно выбрать свой для каждого скилла</h2>
	<div class="card__content">
		<ul>
			<li><strong>Непонимание</strong> — абсолютно незнакомая область</li>
			<li><strong>Осведомлённость</strong> — понимание того, как работает специалист в этой области. Какие задачи выполняет, каков рабочий процесс и инструментарий, методы и практики, какие особенности и ограничения накладываются на него.</li>
			<li><strong>Умение</strong> — способность решать базовые задачи в области. Доделать не очень важный кусок работ за ведущим специалистом, собрать макет или прототип на основе чужих наработок, внести осмысленные доработки в существующий документ и т.п.</li>
			<li><strong>Экспертиза</strong> — выполнение большинства задач в области знаний. От начала до конца и, зачастую, самостоятельно. Способность разобраться в нетипичной ситуации.</li>
			<li><strong>Лидерство</strong> — Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam accusamus.</li>
		</ul>
	</div>
  </div>

<div class="btn__holder">
	<button class="btn">Начать текст</button>
</div>