.card {
	position: relative;
	// height: fit-content;
	// -панель с кнопкой и отступом -внутренние отступы layout'а
	max-height: calc(100vh - (144px + 40px) - 24px * 2 - 22px);
	background-color: var(--color-white);
	margin-top: -28px;
	padding: 38px 38px 45px 38px;

	overflow-y: scroll;

	&::-webkit-scrollbar {
		width: 10px; /* ширина всей полосы прокрутки */
	}

	&::-webkit-scrollbar-track {
		background: transparent; /* цвет зоны отслеживания */
		margin: 20px;
	}

	&::-webkit-scrollbar-thumb {
		background-color: var(--color-white-smoke); /* цвет бегунка */
		border-radius: 20px; /* округлось бегунка */
	}

	&--hidden {
		display: none;
	}

	&__content {
		// height: 100%;
		// (родительские отступы карточки) -отступы -~заголовки
		// max-height: calc((100vh - (144px + 40px) - 24px * 2 - 22px) - 88px - 2.32em - 2.2em);
		// overflow-y: scroll;

		// &::-webkit-scrollbar {
		// 	width: 10px; /* ширина всей полосы прокрутки */
		// }

		// &::-webkit-scrollbar-track {
		// 	background: var(--color-white); /* цвет зоны отслеживания */
		// }

		// &::-webkit-scrollbar-thumb {
		// 	background-color: var(--color-white-smoke); /* цвет бегунка */
		// 	border-radius: 20px; /* округлось бегунка */
		// }
	}
}

ul {
	counter-reset: number -1;
	padding-left: 28px;
	padding-right: 30px;

	li {
		position: relative;
		list-style: none;
		padding: 24px 0;
		line-height: 150%;
		font-weight: 300;

		&::before {
			position: absolute;
			counter-increment: number;
			content: counter(number);
			right: calc(100% + 16px);
			font-weight: 700;
		}

		&:first-child {
			padding-top: 0;
		}

		&:not(:last-child) {
			&::after {
				position: absolute;
				content: "";
				top: 100%;
				left: 0;
				height: 1px;
				width: 100%;
				background-color: var(--color-whisper);
			}
		}

		strong {
			font-weight: 600;
		}
	}
}

.answer {
	position: relative;
	border: 2px solid var(--color-whisper);
	border-radius: 16px;
	display: inline-block;
	width: 100%;
	cursor: pointer;
	font-size: 1em;
    line-height: 120%;
	box-sizing: border-box;
	padding: 16px 24px 16px 24px;
	margin-bottom: 16px;

	&:last-child {
		margin-bottom: 0;
	}

	&:hover {
		border-color: var(--color-very-light-grey);
	}

	strong {
		font-weight: 600;
		margin-right: 16px;
	}
}


input[type="radio"] {
	display: none;
}
input[type="radio"]:checked + .answer {
	border-color: var(--color-primary);
	color: var(--color-primary);
}
