<div class="questions-block" *ngFor="let block of testDB; let i = index">
	<div class="card" [class.card--hidden]="!setAttributes('first', question.questionCount)"
		*ngFor="let question of block.questions; let j = index"
		data-answered="false"
		[attr.data-questions-block]='i + 1'
		[attr.data-question-holder]="question.questionCount"
		[attr.data-current]="setAttributes('current', question.questionCount)"
		[attr.data-first]="setAttributes('first', question.questionCount)"
		[attr.data-last]="question.questionsEnd">

		<div class="card__title">
			<div class="sub-title" [innerHTML]="block.theme"></div>
			<div class="title" [innerHTML]="question.title"></div>
		</div>
		<div class="card__content card__content--answers">
			<label
				class="answer" [class.is-active]="!setAttributes('first', question.questionCount)"
				[attr.for]='createId("question", i, j, k)'
				*ngFor="let answer of question.answers; let k = index"
				(click)="unlockNextQuestion(question.questionCount, question.questionsEnd)">

				<input type="radio" [attr.name]='createId("question", i, j)'  [attr.id]='createId("question", i, j, k)' value={{k}} [attr.data-questions-block]='i + 1'>
				<span class="answer__el">
					<strong>{{k}}</strong>{{answer}}
				</span>
			</label>
		</div>
	</div>
</div>
