<div class="card" data-questions-block="1" data-question-holder="1" data-answered="false" data-current="true">
	<div class="card__title">
		<div class="sub-title">Базовые навыки</div>
		<div class="title">Аналитическое и креативное мышление</div>
	</div>
	<div class="card__content card__content--answers">
		<input type="radio" name="question-1-1" id="question-1-1-0" value="0" data-questions-block="1">
		<label class="answer" for="question-1-1-0"><strong>0</strong>Непонимание</label>
		<input type="radio" name="question-1-1" id="question-1-1-1" value="1" data-questions-block="1">
		<label class="answer" for="question-1-1-1"><strong>1</strong>Осведомленность</label>
		<input type="radio" name="question-1-1" id="question-1-1-2" value="2" data-questions-block="1">
		<label class="answer" for="question-1-1-2"><strong>2</strong>Умение</label>
		<input type="radio" name="question-1-1" id="question-1-1-3" value="3" data-questions-block="1">
		<label class="answer" for="question-1-1-3"><strong>3</strong>Экспертиза</label>
		<input type="radio" name="question-1-1" id="question-1-1-4" value="4" data-questions-block="1">
		<label class="answer" for="question-1-1-4"><strong>4</strong>Лидерство</label>
	</div>
</div>

<div class="card card--hidden" data-questions-block="1" data-question-holder="2" data-answered="false" data-current="false">
	<div class="card__title">
		<div class="sub-title">Базовые навыки 123</div>
		<div class="title">Аналитическое 2</div>
	</div>
	<div class="card__content card__content--answers">
		<input type="radio" name="question-1-2" id="question-1-2-0" value="0" data-questions-block="1">
		<label class="answer" for="question-1-2-0"><strong>0</strong>Непонимание</label>
		<input type="radio" name="question-1-2" id="question-1-2-1" value="1" data-questions-block="1">
		<label class="answer" for="question-1-2-1"><strong>1</strong>Осведомленность</label>
		<input type="radio" name="question-1-2" id="question-1-2-2" value="2" data-questions-block="1">
		<label class="answer" for="question-1-2-2"><strong>2</strong>Умение</label>
		<input type="radio" name="question-1-2" id="question-1-2-3" value="3" data-questions-block="1">
		<label class="answer" for="question-1-2-3"><strong>3</strong>Экспертиза</label>
		<input type="radio" name="question-1-2" id="question-1-2-4" value="4" data-questions-block="1">
		<label class="answer" for="question-1-2-4"><strong>4</strong>Лидерство</label>
	</div>
</div>

<div class="card card--hidden" data-questions-block="2" data-question-holder="3" data-answered="false" data-current="false">
	<div class="card__title">
		<div class="sub-title">123 123 123</div>
		<div class="title">3</div>
	</div>
	<div class="card__content card__content--answers">
		<input type="radio" name="question-2-1" id="question-2-1-0" value="0" data-questions-block="2">
		<label class="answer" for="question-2-1-0"><strong>0</strong>Непонимание</label>
		<input type="radio" name="question-2-1" id="question-2-1-1" value="1" data-questions-block="2">
		<label class="answer" for="question-2-1-1"><strong>1</strong>Осведомленность</label>
		<input type="radio" name="question-2-1" id="question-2-1-2" value="2" data-questions-block="2">
		<label class="answer" for="question-2-1-2"><strong>2</strong>Умение</label>
		<input type="radio" name="question-2-1" id="question-2-1-3" value="3" data-questions-block="2">
		<label class="answer" for="question-2-1-3"><strong>3</strong>Экспертиза</label>
		<input type="radio" name="question-2-1" id="question-2-1-4" value="4" data-questions-block="2">
		<label class="answer" for="question-2-1-4"><strong>4</strong>Лидерство</label>
	</div>
</div>

<div class="card card--hidden" data-questions-block="2" data-question-holder="4" data-answered="false" data-current="false">
	<div class="card__title">
		<div class="sub-title">4444444</div>
		<div class="title">4</div>
	</div>
	<div class="card__content card__content--answers">
		<input type="radio" name="question-2-2" id="question-2-2-0" value="0" data-questions-block="2">
		<label class="answer" for="question-2-2-0"><strong>0</strong>Непонимание</label>
		<input type="radio" name="question-2-2" id="question-2-2-1" value="1" data-questions-block="2">
		<label class="answer" for="question-2-2-1"><strong>1</strong>Осведомленность</label>
		<input type="radio" name="question-2-2" id="question-2-2-2" value="2" data-questions-block="2">
		<label class="answer" for="question-2-2-2"><strong>2</strong>Умение</label>
		<input type="radio" name="question-2-2" id="question-2-2-3" value="3" data-questions-block="2">
		<label class="answer" for="question-2-2-3"><strong>3</strong>Экспертиза</label>
		<input type="radio" name="question-2-2" id="question-2-2-4" value="4" data-questions-block="2">
		<label class="answer" for="question-2-2-4"><strong>4</strong>Лидерство</label>
	</div>
</div>

<div class="card card--hidden" data-questions-block="2" data-question-holder="5" data-answered="false" data-current="false" data-last="true">
	<div class="card__title">
		<div class="sub-title">55555</div>
		<div class="title">5</div>
	</div>
	<div class="card__content card__content--answers">
		<input type="radio" name="question-2-3" id="question-2-3-0" value="0" data-questions-block="2">
		<label class="answer" for="question-2-3-0"><strong>0</strong>Непонимание</label>
		<input type="radio" name="question-2-3" id="question-2-3-1" value="1" data-questions-block="2">
		<label class="answer" for="question-2-3-1"><strong>1</strong>Осведомленность</label>
		<input type="radio" name="question-2-3" id="question-2-3-2" value="2" data-questions-block="2">
		<label class="answer" for="question-2-3-2"><strong>2</strong>Умение</label>
		<input type="radio" name="question-2-3" id="question-2-3-3" value="3" data-questions-block="2">
		<label class="answer" for="question-2-3-3"><strong>3</strong>Экспертиза</label>
		<input type="radio" name="question-2-3" id="question-2-3-4" value="4" data-questions-block="2">
		<label class="answer" for="question-2-3-4"><strong>4</strong>Лидерство</label>
	</div>
</div>
