.card {
	width: 100%;
	max-width: 970px;
	background-color: var(--color-primary);
	border-radius: 32px;
	padding-top: 38px;
	padding-bottom: 42px;

	.btn__wrapper {
		display: flex;
		justify-content: center;
	}

	.btn {
		display: inline-block;
		min-width: auto;
		padding: 23px 24px;
		text-decoration: none;

		&:visited,
		&:hover,
		&:active {
			color: var(--color-black);
		}
	}

	.btn + .btn {
		margin-left: 24px;
	}
}


.prompt {
	max-width: 300px;
	background-color: var(--color-white);
	box-shadow: 0px 3px 26px rgba(157, 125, 244, 0.4);
	border-radius: 24px;
	padding: 24px;
	margin: 10px auto 20px;

	&--fixed {
		position: absolute;
		max-width: 200px;
		top: 0;
		left: calc(100% + 8px);
		box-shadow: none;

		.btn {
			width: 100%;
		}
	}

	span {
		display: block;
		margin-bottom: 20px;

		strong {
			display: block;
			margin-bottom: 6px;
		}
	}

	.btn__wrapper {
		display: flex;
		justify-content: space-between;
	}

	.btn {
		display: inline-block;
		text-decoration: none;
		text-align: center;
		padding: 16px 30px;
		font-weight: 600;
		min-width: auto;

		&--colored {
			background-color: var(--color-primary);
			color: var(--color-white);

			&:hover {
				background-color: var(--color-primary--hover);
			}

			&:active {
				background-color: var(--color-primary--active);
			}
		}
	}
}