<div class="prompt prompt--block">
	<strong>Подпишись на&nbsp;нас</strong>
	<span class="prompt__text">Мы&nbsp;скажем, когда можно будет получить свой план</span>
	<span class="prompt__text prompt__text--mobile">Подпишись на&nbsp;нас, чтобы узнать, когда можно будет получить свой план</span>
	<div class="btn__wrapper">
		<a class="btn" href="#">Inst*</a>
		<a class="btn btn--colored" href="https://t.me/gradeuper" target="_blank">Telegram</a>
	</div>
	<div class="prompt__extra">*принадлежит Meta, признанной экстремистской в&nbsp;России</div>
</div>
