.result {
	text-align: center;
	color: var(--color-black);
	font-weight: 600;
	font-size: 3em;
	line-height: 120%;
	margin-top: 0;
	margin-bottom: 1.25em;
}

.test-kek {
	width: 100%;
	max-width: 567px;
	margin: 0 auto 60px;


	&__bar {
		position: relative;
		margin-bottom: 24px;
		background-color: #F4F4F4;
		height: 80px;
		width: 100%;

		&-result {
			position: absolute;
			height: 100%;
			background-color: #D9D9D9;
			top: 0;
			left: 0;
		}
	}
}

.btn__wrapper {
	display: flex;
	align-items: center;
	justify-content: center;

	.btn:last-child {
		margin-left: 24px;
	}
}