.card {
  position: relative;

  .line-grid {
    position: absolute;
    left: 38px;
    width: calc(100% - 38px * 2);
    height: 100%;
    bottom: 0;
    pointer-events: none;

    .grid-line {
      position: absolute;
      background-color: var(--color-black);
      width: 1px;
      height: 100%;
      bottom: 0;
      opacity: 0.1;
      left: -1px;

      &:nth-child(2) {
        left: calc(100% / 5 * 1 - 2px);
      }

      &:nth-child(3) {
        left: calc(100% / 5 * 2 - 2px);
      }

      &:nth-child(4) {
        left: calc(100% / 5 * 3 - 2px);
      }

      &:nth-child(5) {
        left: calc(100% / 5 * 4 - 2px);
      }
    }
  }
}

.result {
	position: relative;
	border-radius: 32px 32px 16px 16px;
	background-color: var(--color-black);
	z-index: 1;
	overflow: hidden;
	padding: 38px;
  background-image: url('/assets/images/result-bg.svg');

	&__info {
		font-size: 78px;
		line-height: 100%;
		margin-top: 0;
		margin-bottom: 48px;
		color: var(--color-white);

		.subtitle {
			display: block;
			font-size: 18px;
			line-height: 120%;
			margin-bottom: 4px;
			font-weight: 300;
		}

		.title {
			font-weight: 600;
		}

		.result__level {
			display: block;
			font-weight: 600;
		}
	}

	.score {
		display: inline-block;
		color: var(--color-white);
		font-size: 2em;
		line-height: 120%;
		font-weight: 600;
		padding: 0.5em 0.65em;
		background-color: var(--color-victoria);
		border-radius: 25px;
	}

	&__img {
    width: 50%;
		position: absolute;
		right: 45px;
		bottom: 0;
	}
}

.legend {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 24px;

	&__el {
		display: inline-block;
		width: calc(100% / 5);
		line-height: 120%;
	}
}

.competence-map {
	width: 100%;

	&__bar {
		position: relative;
		background-color: var(--color-butterfly-bush);
		height: 70px;
		width: 100%;
		border-radius: 16px;
		overflow: hidden;
		color: var(--color-white);

		&:not(:last-child) {
			margin-bottom: 12px;
		}

		&-result {
			position: absolute;
			height: 100%;
			background-color: var(--color-primary);
			top: 0;
			left: 0;
		}

		&-legend {
			position: absolute;
			display: inline-block;
			left: 16px;
			top: 50%;
			transform: translateY(-50%);
			max-width: 290px;

			sup {
				margin-left: 2px;
				font-size: 0.6em;
			}
		}
	}

	&__legend {
		display: flex;
		align-items: flex-start;
		justify-content: flex-start;
		flex-wrap: wrap;
		margin-top: 38px;

		&-el {
			width: calc(100% / 5);
			font-size: 10px;
			line-height: 120%;
			color: var(--color-black);
			padding-right: 10px;

			p {
				margin: 0;
			}

			&:nth-last-child(-n+5) {
				margin-top: 12px;
			}
		}
	}
}

.card__footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 38px;

	.prompt {
		max-width: 376px;
	}

  &--print-v {
    display: none;
  }

  .btn {
    padding: 16px 24px;
    min-width: 154px;

    &:last-child {
      margin-left: 24px;
    }
  }
}

// Разобраться!
.card--with-aside {
	position: relative;

	.custom__aside {
		position: absolute;
		top: 0;
		left: calc(100% + 8px);
		height: 100%;
	}

	.prompt {
		background-color: var(--color-white);
		border-radius: 24px;

		&--fixed {
			// position: absolute;
			position: -webkit-sticky;
      position: sticky;
			width: 230px;
			padding: 16px;
			top: 0;
			left: calc(100% + 8px);

			.btn {
				width: 100%;
			}
		}

    strong {
      display: block;
      margin-bottom: 6px;
      font-weight: 600;
    }

		span {
			display: block;
			margin-bottom: 12px;
      color: var(--color-grey);
		}

		.btn__wrapper {
			display: flex;
			justify-content: space-between;
		}

		.btn {
			display: inline-block;
			text-decoration: none;
			text-align: center;
			padding: 16px 30px;
			font-weight: 600;
			min-width: auto;

			&--colored {
				background-color: var(--color-primary);
				color: var(--color-white);

				&:hover {
					background-color: var(--color-primary--hover);
				}

				&:active {
					background-color: var(--color-primary--active);
				}
			}
		}
	}
}

@media screen and (max-width: 800px) {
  .result__info {
    font-size: 54px;
  }

  .result__img {
    right: 0;
    width: 32%;
  }

  .card__footer {
    flex-direction: column;

    .prompt {
      max-width: none;
      margin-bottom: 12px;
    }
  }

  .competence-map__legend-el {
    width: calc(100% / 3);

    &:nth-last-child(n+3) {
      margin-top: 12px;
    }
  }
}

@media screen and (max-width: 520px) {
  .card .line-grid {
    left: 8px;
    width: calc(100% - 8px);
  }

  .custom__aside {
    display: none;
  }

  .competence-map__legend-el {
    width: calc(50%);

    &:nth-last-child(n+2) {
      margin-top: 12px;
    }
  }
}
