.card {
	width: 100vw;
	max-width: 970px;
	border-radius: 32px;
	box-sizing: border-box;
	font-size: var(--root-font-size);
	margin-bottom: 16px;
	background-color: var(--color-white);
	padding: 38px 38px 45px 38px;

	&__title {
		text-align: center;
		margin-bottom: 2.2em;

	.body--results & {
		margin-top: 22px;
		margin-bottom: 58px;
	}

		.title {
			font-size: 2em;
			font-weight: 600;
			line-height: 120%;
			margin: 0;
			padding: 0;
		}

		.sub-title {
			font-size: 1em;
			line-height: 120%;
			padding: 0;
			margin: 0;
			font-weight: 400;
		}

		.title + .sub-title {
			margin-top: 0.65em;
			margin-top: 12px;
		}

		.sub-title + .title {
			margin-top: 0.22em;
		}

		&--invert {
			color: var(--color-white)
		}
	}

	&--np {
		padding: 0 !important;
	}

	&--nomb {
		margin-bottom: 0;
	}
}

// .card--with-aside {
// 	position: relative;

// 	.custom__aside {
// 		position: absolute;
// 		top: 0;
// 		left: calc(100% + 8px);
// 		height: 100%;
// 	}
// }

// @media screen and (max-width: 1440px) {
// 	.custom__aside {
// 		display: none;
// 	}
// }

@media screen and (max-width: 520px) {
	.card {
		width: 100%;
		padding: 0 0 0 8px;
		margin-bottom: 70px;

		&__title {
			text-align: left;
			padding-left: 8px;
			margin-bottom: 16px;

			.title {
				font-size: 20px;
			}

			.title + .sub-title {
				margin-top: 4px;
			}

			.sub-title + .title {
				margin-top: 4px;
			}

			&--invert {
				color: var(--color-white)
			}
		}
	}

  .body--results {
    .card {
      border-radius: 24px;
      padding: 24px 20px;
      margin-bottom: 6px;
    }

    .card__title {
      display: inline-block;
      margin-top: 0;
      margin-bottom: 0;
      padding-left: 8px;
    }
  }

	.btn {
		padding: 13px 16px;
		min-width: 116px;
	}
}
