<div class="bunner" [class.is-activ]="showBanner">
	<div class="bunner__text">
		<span>Что думаешь о&nbsp;тесте и&nbsp;результатах?</span>
		<span>Поругайся на&nbsp;нас или похвали&nbsp;&mdash; это важно</span>
	</div>
	<div class="btn__wrapper">
		<div class="btn btn--white" (click)="hideBunner()">Потом</div>
		<a class="btn" href="https://docs.google.com/forms/d/e/1FAIpQLSeUKZTVUVZNwqP3YVR_Z9YGIgzm58mJgxB1sCH3lw_l3AqnNg/viewform" target="_blank" (click)="hideBunner()">Рассказать</a>
	</div>
</div>