/* You can add global styles to this file, and also import other style files */
// @import "../node_modules/normalize-scss/sass/normalize/import-now";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Переменные
:root {
	--color-white: #FFFFFF;
	--color-black: #000000;
	--color-white-smoke: #F2F2F2;
	--color-whisper: #E8E8E8;

	--color-medium-purple: #9D7DF4;
	--color-medium-slate-blue: #835CEE;
	--color-purple-heart: #633BCF;

	// Цвета для быстрого обращения
	--color-primary: var(--color-medium-purple);
	--color-primary--hover: var(--color-medium-slate-blue);
	--color-primary--active: var(--color-purple-heart);
	--color-body: var(--color-white-smoke);

	--root-font-size: 18px;
}


.layout {
	background-color: var(--color-white-smoke);
	padding: 24px;
	min-height: 99vh;
	box-sizing: border-box;
	display: flex;
    flex-direction: column;
	font-family: 'Inter', sans-serif;
	font-size: 18px;
	align-items: center;
	margin: 0;
}

.app-root {
	display: flex;
    flex-direction: column;
    min-height: calc(100vh - 110px);
}

.app-card-panel {
	margin-top: auto;
}

.main-header {
	display: flex;
	justify-content: space-between;
	align-self: normal;

	.logo {}

	.about a {
		text-decoration: none;
		transition: color 0.2s ease-in-out;

		&:visited {
			color: var(--color-black);
		}

		&:active {
			color: var(--color-primary--active);
		}

		&:hover {
			color: var(--color-primary--hover);
		}
	}
}

.main-footer {
	margin-top: auto;
	align-self: flex-start;
}

.btn {
	font-size: var(--root-font-size);
	line-height: 120%;
	border-radius: 16px;
	padding: 23px 54px;
	border: none;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
}
